a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
}

.btn:active, .btn:hover, .btn {
  font-family: Raleway;
  font-weight: 500;
  text-decoration: none !important;
}

.btn-primary, .btn-secondary {
  height: 50px;
  border: 1px solid $primary;
  font-size: 20px;
  text-align: center;
  line-height: 35px;

  &:hover {
    border: 1px solid $primary;
  }
}

.btn-primary {
  color: $body-bg;

  &:hover {
    color: $primary;
    background: $body-bg;
  }
}
.btn-secondary {
  color: $primary;
  background: $body-bg;

  &:hover {
    color: $body-bg;
    background: $primary;
  }
}

#rating {
  margin-bottom: 15px;
}

#rating-content {
  display: inline;
}

#rating-content:hover {
  color: $primary;
}

#rating-content span:hover ~ span {
  color: $body-color;
}

.button-wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;

  #logout {
  }
}
